<table>
	<tr>
		<form method="post">
			<td>
				<button type="submit" type="button" name="action" value="back">Back</button>
			</td>

			<td style="text-align: center;"><h2>Question #{{num}}</h2></td>

			<td>
				<button type="submit" type="button" name="action" value="next">Next</button>
			</td>
		</form>
	</tr>
	<tr>
		<td></td>
		<td><div style="text-align: center;">[{{ curQues.t }}]&nbsp;{{ curQues.q }}</div></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><div style="text-align: center; margin-top: 100px;"><h3>Answer:</h3></div></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><div style="text-align: center;">[{{ curQues.r }}]&nbsp;{{ curQues.a }}</div></td>
		<td></td>
	</tr>
</table>