h2 {  /*Book*/
	text-align: center;
	padding-top: 75px;
  }
  
  
  h3 { /*Chapter*/
	text-align: center;
	padding-top: 60px;
	/* padding-left: 40px; */
	padding-bottom: 20px;
	
  }
  
em {
	color: blue;
}  
  
  
  table {
	border-spacing: 15px;
  
  }
  td {
	padding: 0 15px;
  }
  
  h4 { /*Verse*/
	text-align: left;
	vertical-align: top;
	font-weight: lighter;
  }
  
  b {
	font-weight: bolder;
	text-decoration-line: underline;
	text-decoration-style: dotted;
  }
  
  
  .number {
	vertical-align: top;
  }
  
  .quote {
	vertical-align: top;
	color: blue;
  }
  
  u1 {
	  text-decoration-line: underline;
	  text-decoration-style: solid;  
  }
  
  u2 {
	text-decoration-line: underline;
	text-decoration-style: double;
  }